@import "tailwindcss";

/* Global styles */
* {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
